/* Main div Containers */
#availability_filter {
    display: flex;
    flex-direction: column;
}

#filters{
    display: none;
    position: fixed;
    top: 500px;
    overflow: hidden;
    z-index: 50;
    transition: 0.3s ease;
    width: max(40vw, 300px);
    padding: 15px;
    margin-left: calc(calc(calc(100vw - max(40vw, 300px)) / 2) - 15px);
    height: auto;

    pointer-events: all;
    user-select: none;
    border-radius: 10px;
    border: 4px solid rgb(50, 50, 50);
    background-color: rgb(255, 255, 255);

    flex-direction: column;
    font-family: 'Roboto Slab';
}

#availability_container {
    width: fit-content;
    margin: auto;
    display: flex;
}

#availability_time_selectors{
    display: flex;
    flex-direction: column;
    width: unset;
    min-width: 245px;
}

/* Titles & Labels */
#filterTitle {
    margin: 0px;

    font-size: 20px;
    font-family: 'Roboto Slab';
}

/* Time Filter */
#filter_availability_times {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50px;
    font-size: 17px;
    font-family: 'Roboto Slab';
}

.time_availability_input {
    margin: 0px 5px 0px 5px;
    transition: 0.3s;

    border: none;
    outline: none;
    font-size: 17px;
    font-family: 'Roboto Slab';
}

.time_availability_input:hover {
    text-shadow: 0px 0px 5px black;
    cursor: pointer;
}

/* Day Filter */
#filter_availability_days{
    display: flex;
    justify-content: space-evenly;
}

.filter_availability_day {
    height: 30px;
    width: 30px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;


    font-size: 20px;
    font-family: 'Roboto Slab';
    border-radius: 10px;
    border: 4px solid rgb(50, 50, 50);
}

.filter_availability_day.toggled {
    height: 32px;
    width: 32px;
    transform: translate(0px, -1px);

    color: white;
    background-color: rgb(160, 0, 0);
}

.filter_availability_day:hover {
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}

/* Add & Remove Button */

#addButton {
    top: 10px;
    right: 10px;
    position: absolute;
    transition: 0.3s;
    color: black;
    font-family: 'Roboto Slab';
    border-radius: 5px;
    background-color: white;
    border: 3px solid rgb(50, 50, 50);
    padding: 2.5px;
    padding-left: 5px;
    padding-right: 5px;
}

.filterRemoveButton {
    transition: 0.3s;
    color: black;
    font-family: 'Roboto Slab';
    border-radius: 5px;
    background-color: white;
    border: 2px solid rgb(50, 50, 50);
}

#addButton:hover, .filterRemoveButton:hover {
    box-shadow: 0px 0px 5px rgb(116, 116, 116);
}

#addButton:active, .filterRemoveButton:active {
    color: white;
    background-color: rgb(195, 0, 0);
}

/* Filter List */
.filterItem {
    margin: 8px;
    color: black;
    font-family: 'Roboto Slab';
}

#creditFilter {
    font-size: 17px;
}

#credit_filter, #semester_year_selector, #semester_term_selector {
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

#noTimeCheckbox {
    margin-left: 10px;
}

#updateSemester {
    font-size: 17px;
}