#background {
    height: 50px;
    width: 100%;
    background-color: rgb(160, 0, 0);

    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin: 5px;
    height: 100%;

    img{
        height: 100%;
    }
}

#calendarBtn {
    height: 35px;
    width: 35px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    border: 3px solid white;
    cursor: pointer;

    background-image: url('../images/calendar.svg');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}

#calendarBtn:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    border-color: rgb(255, 220, 220);
    transition: all 0.2s ease;
}

.profileButton {
    height: 35px;
    padding: 0 15px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.profileButton:hover{
    background-color: white;
    color: rgb(160, 0, 0);
    transform: scale(1.05);
    transition: all 0.2s ease;
}


#topBarButtons {
    display: flex;
    align-items: center;
    gap: 15px;
    width: auto; 
    pointer-events: auto;
    z-index: 21;
    margin-right: 20px;
    
}

#statusSheetBtn, #loginBtn, #logoutBtn {
    height: 35px;
    padding: 0 15px;
    background-color: white;
    color: rgb(160, 0, 0); 
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#statusSheetBtn:hover,  #loginBtn:hover, #logoutBtn:hover {
    background-color: rgb(230, 230, 230);
    transform: scale(1.05);
    transition: transform 0.2s;
}

.userProfileArea {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.userContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}


