#background {
    height: 50px;
    width: 100%;

    background-color: rgb(160, 0, 0);

    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
}

#logo {
    margin: 5px;
    height: 75%;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/robotoslab-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/robotoslab-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}